In [1]:
import json

import pandas as pd

In [2]:
with open('jsondata.json') as json_file:
    jsondata = json.load(json_file)
    
len(jsondata)

2

In [3]:
[i for i in jsondata]

['type', 'features']

In [4]:
len(jsondata["features"])

56568

In [5]:
jsondata["features"][0]

{'type': 'Feature',
 'geometry': {'type': 'Point',
  'coordinates': [106.7379379272461, 10.795654296875]},
 'properties': {'photo_id': 56161,
  'filename': 'https://olm-s3.s3.eu-west-1.amazonaws.com/2020/01/05/116338.png',
  'model': 'CPH1801',
  'datetime': '2020-01-05 12:15:17',
  'lat': 10.795654296875,
  'lon': 106.7379379272461,
  'result_string': 'other.dump 1,'}}

In [6]:
filename = [feat["properties"]["filename"] for feat in jsondata["features"]]
lon = [feat["properties"]["lon"] for feat in jsondata["features"]]
lat = [feat["properties"]["lat"] for feat in jsondata["features"]]
result_string = [feat["properties"]["result_string"] for feat in jsondata["features"]]
filename[:5]

['https://olm-s3.s3.eu-west-1.amazonaws.com/2020/01/05/116338.png',
 'https://olm-s3.s3.eu-west-1.amazonaws.com/2020/01/05/116339.png',
 'https://olm-s3.s3.eu-west-1.amazonaws.com/2020/01/05/116340.png',
 'https://olm-s3.s3.eu-west-1.amazonaws.com/2020/01/05/116341.png',
 'https://olm-s3.s3.eu-west-1.amazonaws.com/2020/01/05/116342.png']

In [10]:
len([len(x) for x in result_string if len(x)==0])

1560

so 1560 images have no result string

In [15]:
df = pd.DataFrame({"filename": filename, "lon": lon, "lat": lat, "result_string": result_string})
df

,filename,lon,lat,result_string
0,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.737938,10.795654,"other.dump 1,"
1,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.737968,10.795668,"other.dump 1,"
2,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.737968,10.795668,"other.dump 1,"
3,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.737968,10.795668,"other.dump 1,"
4,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.739403,10.796682,"other.dump 1,"
...,...,...,...,...
56563,https://olm-s3.s3.eu-west-1.amazonaws.com/2021...,6.148425,52.792167,"softdrinks.tinCan 1,"
56564,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,-121.198683,36.481358,"other.metal 1,"
56565,https://olm-s3.s3.eu-west-1.amazonaws.com/2021...,4.736838,52.485755,"softdrinks.energy_can 1,brands.redbull 1,"
56566,https://olm-s3.s3.eu-west-1.amazonaws.com/2021...,4.736853,52.485753,"softdrinks.energy_can 1,brands.redbull 1,"
56567,https://olm-s3.s3.eu-west-1.amazonaws.com/2021...,6.138422,52.793317,"other.balloons 1,"

In [27]:
df[[(len(x) == 0) for x in result_string]].filename.reset_index(drop=True)[1]

'https://olm-s3.s3.eu-west-1.amazonaws.com/2020/01/05/0906E7B5-0AF4-496B-BCF8-D1493FE3C067.png'

In [29]:
df_nona = df[[(len(x) > 0) for x in result_string]]
df_nona

,filename,lon,lat,result_string
0,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.737938,10.795654,"other.dump 1,"
1,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.737968,10.795668,"other.dump 1,"
2,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.737968,10.795668,"other.dump 1,"
3,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.737968,10.795668,"other.dump 1,"
4,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,106.739403,10.796682,"other.dump 1,"
...,...,...,...,...
56563,https://olm-s3.s3.eu-west-1.amazonaws.com/2021...,6.148425,52.792167,"softdrinks.tinCan 1,"
56564,https://olm-s3.s3.eu-west-1.amazonaws.com/2020...,-121.198683,36.481358,"other.metal 1,"
56565,https://olm-s3.s3.eu-west-1.amazonaws.com/2021...,4.736838,52.485755,"softdrinks.energy_can 1,brands.redbull 1,"
56566,https://olm-s3.s3.eu-west-1.amazonaws.com/2021...,4.736853,52.485753,"softdrinks.energy_can 1,brands.redbull 1,"
56567,https://olm-s3.s3.eu-west-1.amazonaws.com/2021...,6.138422,52.793317,"other.balloons 1,"

In [30]:
df.to_csv("jsondata.csv", index=False)
df_nona.to_csv("jsondata_nona.csv", index=False)

# Expand df with dummy variables for result_string

In [63]:
df["result_string_2"] = df.result_string.str.replace(".", "@").apply(lambda x: x[:-1].split(","))
df.result_string_2[5]

['food@napkins 6', 'softdrinks@plastic_cups 1', 'alcohol@beerBottle 2']

#### are there photos only with brand?

In [67]:
df[df.result_string.str.contains("brand")].result_string_2.apply(lambda x: len(x)).value_counts()

2     6702
3      691
4      367
5      171
6      129
1       80
7       70
8       40
9       26
10      18
12      12
11      11
13       8
15       6
14       2
16       2
28       1
22       1
56       1
23       1
Name: result_string_2, dtype: int64

seems so! There are 80 rows with only brand as a label...

#### how many categories are there?

In [70]:
df.result_string_2.apply(lambda x: len(x)).value_counts()

1     43739
2      9474
3      1713
4       754
5       356
6       224
7       118
8        66
9        42
10       23
12       16
11       15
13        8
15        7
14        3
16        2
28        1
17        1
18        1
19        1
22        1
23        1
56        1
60        1
Name: result_string_2, dtype: int64

In [71]:
43739/len(df)*100

77.32110026870316

In [72]:
9474/len(df)*100

16.747984726347052

so almost all have 1 or 2 labels

In [76]:
df.filename[:5][1]

'https://olm-s3.s3.eu-west-1.amazonaws.com/2020/01/05/116339.png'